@model List<Customer>
<main>
      <section
        class="home container-fluid pt-5 pb-5"
        id="home"
        style="background-image: url(./assets/images/home-image.jpg)"
      >
        <div class="container pt-5 pb-5">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="text-white">Awesome App</h1>
              <h1 class="text-white mb-5">App Landing Template</h1>
              <p class="text-white mb-3">
                An awesome landing page template to showcase your app features,
                screenshots, pricing, user testimonials and download links.
              </p>
              <p class="text-white mb-2">
                <i class="las la-check-circle"></i> Amazing Design to Present
                Your App
              </p>
              <p class="text-white mb-2">
                <i class="las la-check-circle"></i> Fully Responsive and Powered
                by Bootstrap & PaperKit
              </p>
              <p class="text-white mb-5">
                <i class="las la-check-circle"></i> Very Easy to Customize and
                Setup
              </p>
              <button type="button" class="btn btn-outline-light">
                Start Exploring!
              </button>
            </div>
            <div class="col-lg-6">
              <img src="~/assets/images/1.jpg" class="imgofhero" alt="" />
            </div>
          </div>
        </div>
      </section>
      <section class="features container-fluid pt-5 pb-5" id="features">
        <div class="container pt-5 pb-5">
          <div class="row">
            <div class="col-lg-4 d-flex mb-3">
              <i class="las la-feather-alt featuer-icon"></i>
              <div class="featurewords d-flex flex-column">
                <h4>Showcase Your App</h4>
                <p class="text-cus-color-p">
                  Showcase your app in style with this professional looking
                  template.
                </p>
              </div>
            </div>
            <div class="col-lg-4 d-flex mb-3">
              <i class="las la-feather-alt featuer-icon"></i>
              <div class="featurewords d-flex flex-column">
                <h4>Showcase Your App</h4>
                <p class="text-cus-color-p">
                  Showcase your app in style with this professional looking
                  template.
                </p>
              </div>
            </div>
            <div class="col-lg-4 d-flex mb-3">
              <i class="las la-feather-alt featuer-icon"></i>
              <div class="featurewords d-flex flex-column">
                <h4>Showcase Your App</h4>
                <p class="text-cus-color-p">
                  Showcase your app in style with this professional looking
                  template.
                </p>
              </div>
            </div>
            <div class="col-lg-4 d-flex mb-3">
              <i class="las la-feather-alt featuer-icon"></i>
              <div class="featurewords d-flex flex-column">
                <h4>Showcase Your App</h4>
                <p class="text-cus-color-p">
                  Showcase your app in style with this professional looking
                  template.
                </p>
              </div>
            </div>
            <div class="col-lg-4 d-flex mb-3">
              <i class="las la-feather-alt featuer-icon"></i>
              <div class="featurewords d-flex flex-column">
                <h4>Showcase Your App</h4>
                <p class="text-cus-color-p">
                  Showcase your app in style with this professional looking
                  template.
                </p>
              </div>
            </div>
            <div class="col-lg-4 d-flex mb-3">
              <i class="las la-feather-alt featuer-icon"></i>
              <div class="featurewords d-flex flex-column">
                <h4>Showcase Your App</h4>
                <p class="text-cus-color-p">
                  Showcase your app in style with this professional looking
                  template.
                </p>
              </div>
            </div>
          </div>
        </div>
        <hr class="hrall" />
      </section>
      <section class="about container-fluid pt-5 pb-5">
        <div class="container pt-5 pb-5">
          <div class="row">
            <div class="col-lg-6">
              <img src="~/assets/images/2.jpg" class="imgofhero" alt="" />
            </div>
            <div class="col-lg-6">
              <h1 class="mb-5">What is Awesome App?</h1>
              <p class="mb-5 text-cus-color-p">
                Add a brief story about your app here, what purpose your app
                solves and why you think your user would want to have it on
                their device.
              </p>
              <p class="mb-2 text-cus-color-p">
                Re-establish the main use case of your app by listing them
                below. Make sure to place a relavent screenshot on the left.
              </p>
              <p class="text-cus-color-p mb-2">
                <i class="las la-check-circle"></i> Amazing Design to Present
                Your App
              </p>
              <p class="text-cus-color-p mb-2">
                <i class="las la-check-circle"></i> Fully Responsive and Powered
                by Bootstrap & PaperKit
              </p>
              <p class="text-cus-color-p mb-5">
                <i class="las la-check-circle"></i> Very Easy to Customize and
                Setup
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="screenshots container-fluid pt-5 pb-5">
        <div
          class="d-flex flex-column justify-content-center align-items-center text-center"
        >
          <h1 class="mb-5">Take a look at our screenshots</h1>
          <p class="mb-5 text-cus-color-p">
            Add your app screenshots below. Make sure to make them lively by
            putting them inside real device mockups Replace this text to
            describe the screenshots of your app.
          </p>
        </div>
        <div class="container pt-5 pb-5">
          <div class="owl-carousel">
            <div>
              <img
                src="./assets/images/carousel1.jpg"
                class="imgofowlb"
                alt=""
              />
            </div>
            <div>
              <img
                src="./assets/images/carousel2.jpg"
                class="imgofowlb"
                alt=""
              />
            </div>
            <div>
              <img
                src="./assets/images/carousel3.jpg"
                class="imgofowlb"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <section class="pricing container-fluid pt-5 pb-5" id="pricing">
        <div
          class="d-flex flex-column justify-content-center align-items-center text-center"
        >
          <h1 class="mb-5">We've got the perfect package for you</h1>
          <p class="mb-5 text-cus-color-p">
            A section to display your pricing structure. Make sure to highlight
            your most popular plan like shown below. Replace this text to
            describe your pricing plan.
          </p>
        </div>
        <div class="container pt-5 pb-5">
          <div class="row cardall">
            <div class="col-lg-3 cardcolforpric">
              <div class="card card-bg-cus" style="width: 18rem">
                <div class="card-body">
                  <h5 class="card-title">Basic</h5>
                  <h1 class="card-subtitle mb-2">$12.0/m</h1>

                  <ul class="list-group list-group-flush mb-5">
                    <li class="list-group-item">One User</li>
                    <li class="list-group-item">Multiple Access</li>
                    <li class="list-group-item">SMS Support</li>
                    <li class="list-group-item">24/7 Online Support</li>
                  </ul>
                  <h6 class="card-subtitle mb-5 text-muted">
                    Start free trail!
                  </h6>
                  <button type="button" class="btn btn-outline-secondary">
                    Buy Now!
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-3 cardcolforpric">
              <div class="card card-bg-cus" style="width: 18rem">
                <div class="card-body">
                  <h5 class="card-title">Basic</h5>
                  <h1 class="card-subtitle mb-2">$12.0/m</h1>

                  <ul class="list-group list-group-flush mb-5">
                    <li class="list-group-item">One User</li>
                    <li class="list-group-item">Multiple Access</li>
                    <li class="list-group-item">SMS Support</li>
                    <li class="list-group-item">24/7 Online Support</li>
                  </ul>
                  <h6 class="card-subtitle mb-5 text-muted">
                    Start free trail!
                  </h6>
                  <button type="button" class="btn btn-outline-secondary">
                    Buy Now!
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-3 cardcolforpric">
              <div class="card card-bg-cus" style="width: 18rem">
                <div class="card-body">
                  <h5 class="card-title">Basic</h5>
                  <h1 class="card-subtitle mb-2">$12.0/m</h1>

                  <ul class="list-group list-group-flush mb-5">
                    <li class="list-group-item">One User</li>
                    <li class="list-group-item">Multiple Access</li>
                    <li class="list-group-item">SMS Support</li>
                    <li class="list-group-item">24/7 Online Support</li>
                  </ul>
                  <h6 class="card-subtitle mb-5 text-muted">
                    Start free trail!
                  </h6>
                  <button type="button" class="btn btn-outline-secondary">
                    Buy Now!
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-3 cardcolforpric">
              <div class="card card-bg-cus" style="width: 18rem">
                <div class="card-body">
                  <h5 class="card-title">Basic</h5>
                  <h1 class="card-subtitle mb-2">$12.0/m</h1>

                  <ul class="list-group list-group-flush mb-5">
                    <li class="list-group-item">One User</li>
                    <li class="list-group-item">Multiple Access</li>
                    <li class="list-group-item">SMS Support</li>
                    <li class="list-group-item">24/7 Online Support</li>
                  </ul>
                  <h6 class="card-subtitle mb-5 text-muted">
                    Start free trail!
                  </h6>
                  <button type="button" class="btn btn-outline-secondary">
                    Buy Now!
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="hrall" />
      </section>
      <section class="customers container-fluid pt-5 pb-5">
        <div
          class="d-flex flex-column justify-content-center align-items-center text-center"
        >
          <h1 class="mb-5">What our customers are saying</h1>
          <p class="mb-5 text-cus-color-p">
            Real user testimonials are great way to attract new customers and
            increase their trust into using your app. Replace the testimonials
            below with the ones for your own app.
          </p>
        </div>
        <div class="container pt-5 pb-5">
          <div class="row">
              @foreach (Customer item in Model)
              {
                  <div class="col-lg-4 testimonialsdiv d-flex flex-column pt-2 pb-2">
              <p class="mb-5 text-cus-color-p">
                @item.Desc
              </p>
              <div class="d-flex">
                <img
                  src="./assets/images/@item.Image"
                  class="imgtestemoniol"
                  alt=""
                />
                <div class="d-flex flex-column">
                  <h4>@item.FullName</h4>
                  <p class="text-muted">@item.Position</p>
                </div>
              </div>
            </div>
              }
            
          
          </div>
        </div>
      </section>
      <section
        class="downloadsection container-fluid pt-5 pb-5"
        style="background-image: url(./assets/images/home-image.jpg)"
      >
        <div
          class="d-flex flex-column justify-content-center align-items-center text-center"
        >
          <h1 class="mb-5 text-white">Download Awesome App Now!</h1>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 platformdiv d-flex">
              <i class="lab la-apple logoplatform"></i>
              <div class="d-flex flex-column">
                <h3>Download</h3>
                <p class="text-muted">Download on Apple store!</p>
              </div>
            </div>
            <div class="col-lg-4 platformdiv d-flex">
              <i class="lab la-apple logoplatform"></i>
              <div class="d-flex flex-column">
                <h3>Download</h3>
                <p class="text-muted">Download on Apple store!</p>
              </div>
            </div>
            <div class="col-lg-4 platformdiv d-flex">
              <i class="lab la-apple logoplatform"></i>
              <div class="d-flex flex-column">
                <h3>Download</h3>
                <p class="text-muted">Download on Apple store!</p>
              </div>
            </div>
          </div>
        </div>
      </section>
</main>